<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/result.css">
</head>
<body>
  <div class="app-wrap">
    <main>
      <section class="location">
        <div class="city"><%= wData.city %>, <%= wData.country %></div>
        <div class="date"><%= date %></div>
      </section>
      <div class="current">
        <div class="temp"><%= wData.temp %><span>°c</span></div>
        <div class="weather"><img src="<%= wData.icon %>"><%= wData.weatherDiscription %></div>
        <div class="feels-like">Feels Like <%= wData.fLikes %><span>°c</span></div>
      </div>
      <form action="/tryAnother" method="post" class="">
        <button class="btn btn-warning btn-lg" type="submit" name="button">Try Another</button>
    </form>
    </main>
  </div>
  <script src="app.js"></script>
</body>
</html>